.box{
    border: 1px solid;
    height: 600px;
    width: 80%;
    margin: 20px auto;
    padding: 50px;
    position: relative;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 0;
    transition: all 3s ease;
}

.box:hover .box1{
    left: 80%;
}